/* General */

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header{
  background-image: url("img/design1_image1.jpg");
  height: 500px;
  background-position: center;
  border-bottom: solid 2px #5fa199;
}
nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

a{
  text-decoration: none;
  color: #f8e12e;
  background: #5fa199;
  text-shadow: 1px 1px #c64832;
  font-weight: 600;
  border: solid 1px #c64832;
  padding: 5px;
}

.a-home{
  color: black;
  text-shadow: 1px 1px #f8e12e;
}

.a-about{
  color: black;
  text-shadow: 1px 1px #f8e12e;
}

.a-contact{
  color: black;
  text-shadow: 1px 1px #f8e12e;
}

.contenedor-logo{
display: flex;
position: absolute;
top: 1px;
}

.logo{
  width: 150px;
}

h1{
  display: none;
}

/* Main */

.cont-img1{
  display: flex;
  flex-wrap: wrap;
  padding: 100px 50px 0px 50px;
}

.jockey-1{
  width: 400px;
  border: solid 2px #5fa199;
  border-radius: 5px;
}

.T-principal{
  display: flex;
  justify-content: center;
  background: #f8e12e;
  color: #5fa199;
  font-size: 40px;
}

#t-principal{
  display: flex;
  background: #f8e12e;
  position: relative;
  top: 465px;
}

/* Home */

.section{
  padding: 100px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  bottom: 380px;
}

article{
  
}

h3{
  color: #5fa199;
}

/* About */

.articulo{
  /* padding: 100px 500px 0px 50px; */
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 500px;
  top: 620px;
}

h2{
  color: #5fa199;
}

div{
  padding-bottom: 20px;
}

/* Games */

.game{
  display: flex;
  flex-direction: column;
}

.div1{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 500px;
  bottom: 100px;
}

.div2{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 100px;
}


table th, table td{
  padding: 20px 0px 10px 10px;
  background: #f8e12e;
}

.maps{
  display:flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 100px;
  margin: 20px;
  top: 50px;
}


iframe{
  padding-right: 30px;
  padding-bottom: 30px;
}

.maps h3{
  position: relative;
  bottom: 50px;
}

.div3{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
  bottom: 100px;
  padding: 50px;
}

.email{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 70px;
  right: 300px;
}

.e-mail{
  background: #ffffff;
  border: none;
  position: relative;
  bottom: 5px;
}

/* Rules */

section{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
  padding: 20px 100px 0px 100px;
}

article{
  padding: 20px;
}

.titulo-rules{
  display: flex;
  justify-content: center;
}

/* Registration */

form{
  padding: 100px 200px;
}

fieldset{
  padding: 20px;
  background: #f8e12e;
}

.fieldset1{
  display: flex;
  flex-direction: column;
}

legend{
  font-weight: 700;
}

.submit{
  background: #5fa199;
  border: solid 3px #5fa199;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.submit:hover{
  background: #ffffff;
  color: #5fa199;
}

.reset{
  background: #f8e12e;
  border: solid 3px #f8e12e;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  margin-left: 50px;
  font-weight: 700;
  cursor: pointer;
}

.reset:hover{
  background: #ffffff;
  color: #f8e12e;
}

.fieldset8{
  background: #ffffff;
}

/* Contact */

.contenedor-mail{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  bottom: 250px;
}

p{
  padding-bottom: 50px;
}

.mail{
  background: #ffffff;
  border: none;
}

/* Show_data */

.h1{
  display: flex;
  position: absolute;
  bottom: 950px;
}


/* Tablet */

@media only screen and (max-width: 820px){
  /* Header */
  nav{
    display: flex;
    flex-wrap: wrap;
    position: static;
    justify-content: flex-end;
  }

  .contenedor-logo{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    top: 5px;
  }

  .logo{
    width: 100px;
  }

  /* Home */

  .cont-img1{
    display: flex;
    justify-content: center;
    padding-top: 70px;
  }

  .section{
    display: flex;
    align-content: flex-end;
    padding-top: 400px;
  }

  /* About */

  .articulo{
    display: flex;
    padding-top: 300px;
    position: absolute;
    top: 700px;
    left: 200px;
    right: 200px;
  }

  /* Games */

  .div1{
    position: absolute;
    top: 850px;
    left: 250px;
  }

  .div2{
    position: absolute;
    top: 1000px;
    left: 150px;
  }

  .maps{
    position: absolute;
    top: 1650px;
    left: 200px;
  }

  .div3{
    position: absolute;
    top: 3500px;
    bottom: 100px;
    padding: 50px;
  }

  .e-mail{
    position: absolute;
    left: 720px;
    bottom: 45px;
  }

  /* Registration */

  form{
    padding: 50px;
  }

  /* Contact */

  .contenedor-mail{
    position: absolute;
    bottom: 50px;
    left: 200px;
  }

}

