/* General */

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;

}

/* Header */

h1{
  display: flex;
  font-size: 60px;
  position: relative;
  bottom: 100px;
}

header{
  background-image: url("img/design1_image2.jpg");
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  top: 100px;
}

nav{
  position: absolute;
  left: 1000px;
  bottom: 400px;
}

a{
  background: blue;
  color: #ffffff;
  text-decoration: none;
  border: solid 2px #000000;
  font-size: 20px;
  box-shadow: 5px 3px gray;
  padding: 10px;
}

.a-home{
  background: green;
  color: #ffffff;
}

.a-about{
  background: green;
  color: #ffffff;
}

.a-games{
  background: green;
  color: #ffffff;
}

.a-registration{
  background: green;
  color: #ffffff;
}

.a-rules{
  background: green;
  color: #ffffff;
}

.a-contact{
  background: green;
  color: #ffffff;
}

.contenedor-logo{
  display: flex;
  align-items: flex-end;
  position: relative;
  top: 400px;
  padding-left: 50px;
  
}

.logo{
  width: 150px;
}

#t-principal{
  top: 160px;
}


/* Main */

.T-principal{
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 30px;
  border: solid 1px #000000;
}

.jockey-1{
  display: none;
}

/* Home */

.section{
  position: absolute;
  top: 600px;
  left: 500px;
}


p{
  padding-bottom: 20px;
  padding-left: 10px;
}

/* About */

.articulo{
  position: absolute;
  top: 600px;
  left: 500px;
  right: 250px;
}

div{
  padding-bottom: 20px;
}

/* Games */

.game{
  position: absolute;
  top: 620px;
  left: 500px;
  right: 250px;
}

table th, table td{
  padding: 20px;
}

.maps{
  margin: 20px;
}


iframe{
  padding-right: 30px;
  padding-bottom: 30px;
}
.maps h3{
  padding-bottom: 30px;
}

.e-mail{
  background: #ffffff;
  color: #000000;
  border: none;
  box-shadow: none;

}

.email{
  position: absolute;
  left: 500px;
  bottom: 20px;
}

/* Rules */

section{
  position: absolute;
  top: 600px;
  left: 500px;
  right: 100px;
}

.titulo-rules{
  display: flex;
  justify-content: center;
}

article{
  padding: 20px;
}

/* Registration */

form{
  padding: 100px 250px;
  position: absolute;
  top: 500px;
}

fieldset{
  padding: 20px;
}

.fieldset1{
  display: flex;
  flex-direction: column;
}

legend{
  font-weight: 700;
}

.submit{
  background: #5fa199;
  border: solid 3px #5fa199;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.submit:hover{
  background: #ffffff;
  color: #5fa199;
}

.reset{
  background: #f8e12e;
  border: solid 3px #f8e12e;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  margin-left: 50px;
  font-weight: 700;
  cursor: pointer;
}

.reset:hover{
  background: #ffffff;
  color: #f8e12e;
}

/* Contact */

.contenedor-mail{
  position: absolute;
  top: 600px;
  left: 500px;
}

.mail{
  background: #ffffff;
  color: #000000;
  border: none;
  box-shadow: none;
}

/* Show_data */

.h1{
  display: flex;
  position: absolute;
  bottom: 950px;
}